body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 160px;
}

.gallery-item {
    width: calc((100% - 40px)/3);
    height: auto;
}

.gallery-image {
    width: 100%;
    height: 100%;
    transition: 300ms ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.05);
}